@page
@model Test3.Pages.Admin.PostAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@if (User.Identity.Name == "mike.1985@live.se")
{

    <h1>Detaljer</h1>

    <div>
        <h4>Inlägg</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Post.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Post.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Post.Date)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Post.Date)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Post.Text)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Post.Text)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Post.SubCategory)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Post.SubCategory.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Post.UserId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Post.UserId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Post.Image)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Post.Image)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Post.Id" class="btn btn-success">Redigera Inlägget</a> 
        <a asp-page="./Index" class="btn btn-secondary">Tillbaka Till Listan</a>
    </div>
}

